<ion-content>
   <h3>Sistema de pedidos</h3>
   
   <img src="assets/img/teleinicial.png" alt="logo">

   <form>
     <ion-item>
       <ion-label stacked>Email</ion-label>
       <ion-input type="text"></ion-input>
     </ion-item>
     <ion-item>
       <ion-label stacked>Senha</ion-label>
       <ion-input type="password"></ion-input>
     </ion-item>

     <ion-button expand="block" [routerDirection]="'root'" [routerLink]="'/categorias'">Entrar</ion-button>
   </form>

   <ion-button expand="block" color="success">Registrar</ion-button>
</ion-content>
